html{
    background-color: #1E1E1E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
   display: flex;
   flex-direction: column;
   width: 360px;
   align-items: center;
   height: 800px;    
   background-color: white;
   margin: auto;
   margin-top: 10%;
}
h1{
    padding-top: 50px;
    font-size: 24px;
    font-weight: 600;

}
.dau1{
    width: 312px;
    height: 48px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid #989898;
    outline: none;
}
hr{
    width: 250px;
}
.dau3{
    width: 312px;
    height: 48px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #0E64D2;
    border: 1px solid #0E64D2;
    color: white;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: #2F89FC;

}
.dau4{
    width: 312px;
    height: 48px;
    border-radius: 10px;
    background-color: #2F89FC;
    color: white;
    border: 1px solid #2F89FC;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url(facebook\ logo.png);
   background-repeat: no-repeat;
   background-position: 26px;
}
.dau5{
    width: 312px;
    height: 48px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #989898;
    background-image: url(google\ logo.png);
    background-repeat: no-repeat;
    background-position: 26px;
}
