html{
    background-color: #1E1E1E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
   flex-direction: column;
   width: 360px;
   align-items: center;
   height: 800px;    
   background-color: white;
   margin: auto;
   margin-top: 10%;
}
h1{
    
    width: 200px;
    font-size: 24px;
    text-align: center;
    flex-direction: column-reverse; 
    margin-top: 60px;
    line-height: 36px;
    color: #000000;
}
h2{
    text-align: center;
}
.font{
    margin-top: -10px;
    width: 250px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}
a{
    text-decoration: none;
    color: #2F89FC;
    padding-top: 20px;
}
hr{
    width: 280px;
    border: 1px solid #7F7F7F;
}
label{
    margin-top: -21px;
    margin-bottom: 20px;
    border: 1px;
    background-color: white;
    padding-left: 13px;
    padding-right: 13px;
}
.dautien{
    width: 312px;
    height: 48px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #989898;
    font-size: 12px;
    outline: none;
    
}    
.center1{
    width: 312px;
    height: 48px;
    border-radius: 5px;
    background-color: #0E64D2;
    color: white;
    border: 1px solid #0E64D2;
    font-size: 14px;
    margin-top: 20px;
}
.see{
    margin-top: 10px;
    margin-bottom: 10px;    
}
.end{
    background-image: url(./logo/logo_fb.png);
   background-repeat: no-repeat;
   background-position: 26px;
   width: 312px;
   height: 48px;
   color: white;
   border-radius: 10px;
   background-color: #1877F2;
   border: 1px solid #1877F2;
}
.end1{
    width: 312px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #989898;
    background-color: white;
    background-image: url(./logo/logo_gg.png);
    background-repeat: no-repeat;
    background-position: 26px;
    margin-top: 10px;
}
.end2{
    width: 312px;
    margin-top: 50px;
    display: flex;
    color: #000000;
}
.end2 img {
    width: 48px;
    height: 48px;
    margin-top: 10px;
}
.font1{
    font-family:fantasy;
    font-size: 12px;
    font-weight: 100;
    margin-left: 10px;
    color: #7F7F7F;
}
